__pycache__
_site/
build/
obj/
doc/
*.a
*.dat
.*.swp
*.o
*.class
.*
data/ceeaus
data/breast-cancer
data/housing
biicode.conf
bii/
bin/

# Build
dist/
downloads/
multibuild/
terryfy/

# Tutorials
tutorials/ceeaus-idx/
tutorials/ceeaus.tar.gz
tutorials/ceeaus/
tutorials/cranfield-config.toml
tutorials/cranfield-idx/
tutorials/cranfield.tar.gz
tutorials/cranfield/
tutorials/crf.tar.gz
tutorials/crf/
tutorials/greedy-constituency-parser.tar.gz
tutorials/greedy-perceptron-tagger.tar.gz
tutorials/headlines.tar.gz
tutorials/headlines/
tutorials/KDD-2017-config.toml
tutorials/lda-cvb0.phi.bin
tutorials/lda-cvb0.theta.bin
tutorials/lemur-stopwords.txt
tutorials/parser/
tutorials/perceptron-tagger/
tutorials/sigir18-topic-models/cranfield-idx/
tutorials/sigir18-topic-models/cranfield.toml
tutorials/sigir18-topic-models/data/
tutorials/sigir18-topic-models/lda-pgibbs-nips.phi.bin
tutorials/sigir18-topic-models/lda-pgibbs-nips.theta.bin
tutorials/sigir18-topic-models/nips-idx/
tutorials/sigir18-topic-models/nips.toml
tutorials/sigir18-topic-models/sigir18-tutorial.tar.gz